body {
  margin-bottom: 70px;
}

//Carousel

.carousel img {
  height: 400px !important;
  object-fit: cover;
  object-position: left 60%;
}
.carousel-caption{
  margin-top: 20%;
  margin-bottom: 20%;
  background-color: rgb($primary, 0.2);
}
//Card

.card-img-top {
    height: 180px !important;
    object-fit: cover;
}

//Footer

.footer{
  background: $light;
  color: $dark;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: gray;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color: $primary;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color: gray;
      transition: color .2s;
      &:hover{color: $primary}
    }
  } 
  .location{
    i{font-size: 14px; color: gray;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}

// Form

.required {
  color: red;
}

//Navigation Cart
.fa-stack[data-count]:after{
  position:absolute;
  right:-20%;
  top:-25%;
  content: attr(data-count);
  font-size:60%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: $primary;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  border-style:solid;
  background: $light;
}

.fa-circle {
	color: #c2859d;
  background: $light;
}