//Colors

$light: #f3eaf1;
$primary: #c2859d;

//Carousel

.carousel img {
  height: 400px !important;
  object-fit: cover;
  object-position: left 60%;
}

//Card

.card-img-top {
    height: 180px !important;
    object-fit: cover;
}